<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jyuan Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="author" content="Jyuan Huang">
    <meta name="description" content="一份簡單的履歷">
    <meta name="keywords" content="Jyuan,黃卷,卷,履歷,黃俊諺">
</head>
<!-- Lifeline+++++++++++++++ -->
<!-- Jquery -->
<!-- <script src="./script/jquery.min.js"></script>
<script src="./script/vue.js"></script> -->
<!-- Main -->
<!-- <script src="./script/resume.js"></script>
<link rel="stylesheet" href="./css/resume.css">
<link rel="stylesheet" href="./css/reset.css"> -->
<!-- Heroku+++++++++++++++ -->
<!-- Jquery -->
<script src="./not resume/script/jquery.min.js"></script>
<script src="./not resume/script/vue.js"></script>
<!-- Main -->
<script src="./not resume/script/resume.js"></script>
<link rel="stylesheet" href="./not resume/css/resume.css">
<link rel="stylesheet" href="./not resume/css/reset.css">

<!-- <div class="cell one circle images medium vertical-center">
    <img src="./img/head_photo.jpg" alt="Jyuan Head Photo">
</div> -->

<body class="Body">
    <header class="ui fluid container gray Header" id="banner">
        <div class="ui container very padded">
            <h1 class="word-darkblue">JYUAN HUANG</h1>
            <div class="word-darkblue sub">FRONT END DEVELOPER</div>
            <a class="hamburger ui darkblue horizontal-center" v-bind:class="{active: menuIsActive}" v-on:click="menuIsActive = !menuIsActive">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </a>
            <nav class="Nav" v-bind:class="{active: menuIsActive}" v-on:click="menuIsActive = !menuIsActive">
                <div class="ui darkblue menu">
                    <div class="rows justify">
                        <a class="item" href="#aboutme">ABOUT</a>
                        <a class="item" href="#awards">AWARDS</a>
                        <a class="item" href="#skills">SKILLS</a>
                        <a class="item" href="#experience">EXPERIENCE</a>
                        <a class="item" href="#education">EDUCATION</a></div>
                </div>
            </nav>
        </div>
    </header>
    <div class=" padded container" id="resume">
        <div class="lightshad">
            <section class="About">
                <div class="rows">
                    <div class="responsive segment hasRibbon cell two">
                        <a class="ui darkblue ribbon header" id="aboutme">ABOUT ME</a>
                        <div class="segment-wrapper">
                            <div class="list">
                                <div class="item rows">
                                    <i class="icon male"></i>
                                    <div class="title cell one word-darkblue">Name</div>
                                    <div class="content cell two">
                                        <a>{{aboutme.name}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon male"></i>
                                    <div class="title cell one word-darkblue">Education</div>
                                    <div class="content cell two">
                                        <a>{{aboutme.school}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon male"></i>
                                    <div class="title cell one word-darkblue">Department</div>
                                    <div class="content cell two">
                                        <a>{{aboutme.department}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon facebook"></i>
                                    <div class="title cell one word-darkblue">Facebook</div>
                                    <div class="content cell two">
                                        <a class="word-darkblue" href="https://www.facebook.com/profile.php?id=100000224732119">{{aboutme.facebook}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon linkedin"></i>
                                    <div class="title cell one word-darkblue">LinkedIn</div>
                                    <div class="content cell two">
                                        <a class="word-darkblue" href="www.linkedin.com/in/jyuan3310">{{aboutme.linkedin}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon mail"></i>
                                    <div class="title cell one word-darkblue">Mail</div>
                                    <div class="content cell two">
                                        <a class="word-darkblue" href="mailto:eric60513@gmail.com">{{aboutme.mail}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon phone"></i>
                                    <div class="title cell one word-darkblue">Phone</div>
                                    <div class="content cell two">
                                        <a class="word-darkblue" href="tel:+886975220827">{{aboutme.phone}}</a>
                                    </div>
                                </div>
                                <div class="item rows">
                                    <i class="icon birth"></i>
                                    <div class="title cell one word-darkblue">Birth</div>
                                    <div class="content cell two">
                                        <a>{{aboutme.birth}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="responsive segment hasRibbon cell three">
                        <a class="ui darkblue reverse ribbon header" id="awards">AWARDS</a>
                        <div class="segment-wrapper">
                            <div class="textContent">
                                <a class="header large word-darkblue" href="#ibusker">iBusker--具人文內涵的城市旅遊App</a>
                                <ul>獲得獎項:
                                    <li>103學年度第十屆中興大學資訊管理實務專題成果展 B組第二名</li>
                                    <li>2015精誠盃APP創意競賽 佳作</li>
                                    <li>2015軟體創作達人暑期成長營 優勝團隊</li>
                                    <li>2015Open Data創新應用競賽開放資料應用組銀獎</li>
                                    <li>2015第20屆全國大專校院資訊應用服務創新競賽: 資訊技術應用組(一) 第一名</li>
                                    <li>2015第20屆全國大專校院資訊應用服務創新競賽: 臺北生活好友善創新應用組 第三名</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Skills ">
                <div class="segment hasRibbon">
                    <a class="ui darkblue ribbon header" id="skills">SKILLS</a>
                    <div class="segment-wrapper">
                        <div class="rows justify">
                            <div class="cell horizontal-center four textContent" v-for="skill in skills">
                                <div class="circle-percentage" v-bind:class="{little : !skill.isBase}">
                                    <div class="bgcircle" v-if="skill.count<180" v-bind:style="{backgroundImage: 'linear-gradient(' + (90 + skill.count) + 'deg, transparent 50%, #d6d6d6 50%),linear-gradient(-90deg, ' + circlePercentageColor + ' 50%, transparent 50%)'}">
                                        <div class="circle">
                                            <div class="percentage word-darkblue">{{skill.percentage}}%</div>
                                        </div>
                                    </div>
                                    <div class="bgcircle" v-else v-bind:style="{backgroundImage: 'linear-gradient(' + (skill.count-90) + 'deg, transparent 50%, '+circlePercentageColor+' 50%),linear-gradient(-90deg, ' + circlePercentageColor + ' 50%, transparent 50%)'}">
                                        <div class="circle">
                                            <div class="percentage word-darkblue">{{skill.percentage}}%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="textContent word-darkblue">{{skill.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Experience  ui darkblue ">
                <div class="segment hasRibbon">
                    <a class="ui lightblue ribbon header" id="experience">EXPERIENCE</a>
                    <div class="segment-wrapper">
                        <div class="list">
                            <div class="item" v-for="exp in experience">
                                <div class="mainContent">
                                    <div class="title">{{exp.company}}</div>
                                    <div class="subtitle">{{exp.job}}</div>
                                    <div class="content ui lightblue roundbutton">{{exp.time}}</div>
                                </div>
                                <div class="textContent">
                                    <ul>
                                        <li v-for="detail in exp.detail">{{detail}}</li>
                                        <li>工作所運用到的技術 :
                                            <ol>
                                                <li v-for="tech in exp.tech">{{tech}}</li>
                                            </ol>
                                        </li>
                                        <li v-if="exp.works">作品 :
                                            <ol>
                                                <li v-for="work in exp.works">{{work.title}}: <a href="work.href" v-if="work.href" class="link">{{work.href}}</a></li>
                                            </ol>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Education ui darkblue">
                <div class="segment hasRibbon">
                    <a class="ui lightblue ribbon header" id="education">Education</a>
                    <div class="segment-wrapper">
                        <div class="list">
                            <div class="item">
                                <div class="mainContent">
                                    <div class="title">{{education.school}}</div>
                                    <div class="subtitle">{{education.department}}</div>
                                    <div class="content ui lightblue roundbutton">{{education.time}}</div>
                                </div>
                                <div class="textContent">
                                    <p>
                                        <ul>課程內容資訊和管理參半
                                            <li>管理課程: 經濟學、管理學、統計學、初等會計學、財務管理 ... ...</li>
                                            <li>資訊課程: Java、Mysql(PHP)、Html/JavaScript、XML、專案管理 ... ...</li>
                                            <li>個人選擇: C++/Cli(資工)、SAS ... ...</li>
                                        </ul>
                                    </p>
                                    <p>大三專題三人團隊，以街頭藝人為出發點開發行動App--iBusker。以Html5、Css、JavaScript為基礎並由PhoneGap把網頁包裝成行動App，後端以雲端SAAS平台Parse.com(已關閉)和Heroku建立，並結合Beacon和定位技術發送通知給使用者。 此構想獲得教授們的青睞，也參加許多比賽獲得佳績。
                                    </p>
                                    <p>
                                        作品： <a class="link" v-on:click="modal.ibusker = !modal.ibusker" id="ibusker">iBusker</a>
                                    </p>
                                    <p>
                                        <ul>其他事蹟:
                                            <li>擔任2年系學會幹部，並曾擔任系上大型活動總召和多個小活動組長</li>
                                            <li>曾參加咖啡研究社</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Introduction ui darkblue">
                <div class="segment hasRibbon">
                    <a class="ui lightblue ribbon header" id="introduction">INTRODUCTION</a>
                    <div class="segment-wrapper">
                        <div class="textContent">
                            <p>我喜愛研究前端的技術，更喜歡JavaScript語言，有空閑時間會寫些小東西滿足自己，且以能夠專精js橫跨前後端為目標，除了前端技術也有在撰寫Swift(Ios)和Java(Android)。</p>
                            <p>嚮往在輕鬆愉快的工作環境和同事主管們互相切磋進步，雖然目前還沒有特別有興趣的領域，但希望能在這段時間先把技術磨練好以備未來遇見機會能好好把握。以我所會的這些技術為工具，希望實作些軟體平台能夠改變台灣的環境往好的方向走。</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- modals -->
        <modal-wrapper v-bind:is-show="modal.ibusker">
            <picture-modal v-bind:pictures="ibuskerPics" v-on:close="modal.ibusker=false"></picture-modal>
        </modal-wrapper>
    </div>
</body>

</html>
